<div class="layout-container" [ngClass]="{'auth-layout': router.url === '/login'}">
  <aside class="sidebar" *ngIf="router.url !== '/login'">
    <div class="logo">
      <mat-icon>sailing</mat-icon>
    </div>
    <nav class="nav-links">
      <button mat-icon-button class="nav-item" routerLink="/input" routerLinkActive="active"
        matTooltip="User Input"><mat-icon>search</mat-icon></button>
      <!-- <button mat-icon-button class="nav-item" routerLink="/dashboard" routerLinkActive="active"
        matTooltip="Dashboard"><mat-icon>dashboard</mat-icon></button> -->
      <button mat-icon-button class="nav-item" routerLink="/survey-report" routerLinkActive="active"
        matTooltip="Tender Specification Document"><mat-icon>description</mat-icon></button>
      <button mat-icon-button class="nav-item" routerLink="/gantt" routerLinkActive="active"
        matTooltip="Gantt Chart"><mat-icon>table_chart</mat-icon></button>
      <button mat-icon-button class="nav-item" routerLink="/evm" routerLinkActive="active"
        matTooltip="EVM Metrics"><mat-icon>trending_up</mat-icon></button>
    </nav>
    <div class="sidebar-bottom">
      <button mat-icon-button class="nav-item" routerLink="/settings" routerLinkActive="active" matTooltip="Settings">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </aside>

  <main class="main-content" [ngClass]="{'auth-main': router.url === '/login'}">
    <header class="top-bar" *ngIf="router.url !== '/login'">
      <div class="dropdown">
        <mat-icon>anchor</mat-icon> Maritime Project Planning AI
        <!-- <mat-icon class="dropdown-icon">expand_more</mat-icon> -->
      </div>
      <!-- <div class="header-title">
        Maritime Project Planning Assitant
      </div>
      <button class="upgrade-btn">
        Upgrade <mat-icon>auto_awesome</mat-icon>
      </button> -->
    </header>

    <div class="content-area" [ngClass]="{'auth-content-area': router.url === '/login'}">
      <ng-content></ng-content>
    </div>
  </main>
</div>