fastapi==0.136.1
uvicorn
gunicorn
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
langgraph
langchain
langchain-openai
mcp
python-dotenv
loguru
alembic
azure-storage-blob
langchain-google-genai
PyPDF2
python-docx
python-pptx
openpyxl